$font_title: 'Open Sans', helvetica, sans-serif;
$font_main: 'Open Sans', helvetica, sans-serif;

$c_main_mid: #004a3d;
$c_main_dark: #002f27;
$c_main_light:  #005f4e;

$c_bright: #b5ff05;

* {
  margin:0; padding:0;
  box-sizing:border-box;
}

html {
  font-size:67.5%;
  background:$c_main_dark;
}

body {
  font-size:1.4rem;
  font-family:$font_main;
  padding:0 0.5rem;
  color:#fefefe;
  background:$c_main_dark;
  max-width:500px;
  margin:0 auto;
}

a
{
  color: $c_bright;
  text-decoration:none;
}

header
{
  padding:1rem;
  border-bottom:3px solid $c_main_mid;


  h1
  {
    font:normal normal normal 2.5rem $font_title;
    display:inline-block;
    padding-top:0.75rem;
  }

  nav
  {
    float:right;
  }

  a
  {
    display:inline-block;
    font-size:1.75rem;
    padding:1rem;

    &:hover
    {
      text-decoration:underline;
    }
  }
}

.stuff-list
{
  margin:2rem 0;
  list-style:inside none;

  a
  {
    box-shadow:inset 0 0 5px 0 $c_main_light;
    border-radius:5px;
    display:block;
    border:1px solid #00221b;
    color:#fefefe;
    background:$c_main_mid;
    padding:1rem;

    &:after
    {
      display:table;
      clear:both;
      height:0;
      content:"";
    }
  }


  img
  {
    float:left;
    box-shadow:inset 0 0 5px 0 $c_main_light;
    margin-right:2rem;
    border:1px solid #00221b;
    border-radius:5px;
  }

  strong
  {
    color:$c_bright;
    font-size:1.75rem;
    display:block;
    margin-bottom:1rem;
  }

  a:hover
  {
  }


}

